<div class="panel panel-primary">

  <div class="panel-heading">
    <strong style='font-size: 1.1rem;'><%= @act.name %></strong>
    <div class='pull-right'><%= @act.date %></div>
  </div>

  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('common.user') %>:</strong>
      <%= @act.user.name %>
    </p>

    <p>
      <strong><%= t('common.value') %>:</strong>
      <%= @act.value %> hours
    </p>

    <p>
      <strong><%= t('common.description') %>:</strong>
      <%= @act.desc %>
    </p>

    <p>
      <strong><%= t('common.category') %>:</strong>
      <%= @act.category.name %>
    </p>

  </div>

  <div class="panel-footer">

    <% if (current_user == @act.user) || (current_user.try(:admin?)) %>    
      <%= link_to t('common.edit'), edit_act_path(@act), class: 'btn btn-default' %>
      <%= link_to t('common.delete'), @act, class: 'btn btn-default', method: :delete, data: { confirm: t('common.are_you_sure?') } %>
    <% end %>

    <%= link_to t('common.cancel'), acts_path, class: 'btn btn-default' %>

  </div>
</div>